@import "../../cosntants.scss";

.about {
  &__container {
    background-color: #f9f9f9;
  }

  &__top {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 50%
      ),
      url(../../assets/images/nature1-min.jpg);
    height: 32rem;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__heading {
    font-weight: 400;
    font-size: 4rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: $letter-spacing;
    margin-bottom: 1rem;
  }

  &__link {
    font-size: 1.5rem;
  }

  &__me {
    padding: 3rem $paddingH;

    &--content {
      width: 60%;
    }

    &--heading {
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    &--para {
      font-size: 1.6rem;
      color: #888;
      margin-bottom: 3rem;
    }
  }

  &__timeline {
    background-color: #eee;
    padding: 3rem $paddingH 0 $paddingH;

    display: flex;
    flex-direction: column;
  }

  &__skills {
    padding: 3rem $paddingH 0 $paddingH;

    display: flex;
    flex-direction: column;


  }
}
