@import "../../cosntants.scss";

.landing-projects {
  &__heading {
    font-size: 3rem;
    color: $primaryDarkColor;
    letter-spacing: $letter-spacing;
    word-spacing: 0.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.theme-light {
  .landing-projects {
    &__container {
      padding: 3rem $paddingH;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.theme-dark {
  .landing-projects {
    &__container {
      padding: 3rem $paddingH;
      background-color: #222;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
