@import "../../cosntants.scss";

.hero {
  &__container {
    height: 100vh;
    padding: 0 $paddingH;
    color: #000;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 50%
      ),
      url(../../assets/images/nature1-min.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__hero {
    position: relative;

    display: flex;
  }

  &__content {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    font-size: 4.5rem;
    font-weight: bold;
    color: $primaryDarkColor;
    text-transform: uppercase;
    word-spacing: 0.5rem;
  }

  &__subheading {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__para {
    font-size: 1.6rem;
    color: $color-grey-medium;
  }

  &__button {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: $primaryDarkColor;
    margin-top: 5rem;
    padding: 1.5rem 5rem;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background $transition, box-shadow $transition;

    &:focus {
      box-shadow: 0 0 0.5rem 0.7rem $primaryLightColor;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: -5rem;
    height: 35rem;
  }
}
