@import "../..//cosntants.scss";

.lightbox {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $backdrop-zindex + 3;
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    position: absolute;
    height: 50rem;
    margin-top: -12rem;
    background-size: cover;
    background-position: center;
    cursor: move;

    transition: transform 0.5s;
    backface-visibility: hidden;
  }

  &__icon {
    font-size: 2.5rem;
    color: white;

    &--close {
      color: white;
    }

    &--container {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 4rem 2rem;
      cursor: pointer;
      transition: background $transition;

      display: flex;
      justify-content: center;
      align-items: center;

      &:active {
        background-color: rgba(0, 0, 0, 0.5);
      }

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }

      &--close {
        top: 0;
        right: 0;
        padding: 1rem 4rem;
      }
    }
  }

  &__thumbnails {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: scroll;

    display: flex;
    justify-content: center;
  }

  &__thumbnail {
    height: 12rem;
    margin-right: 3rem;
    border: 0.5rem solid transparent;
    cursor: pointer;
    transition: border $transition;

    &--selected {
        border: 0.5rem solid $primaryColor;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
