@import "../../cosntants.scss";

// Commmon
.header {
  &__list {
    list-style: none;
    width: 65%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Light header styles
.theme-light {
  .header {
    &__container {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      padding: 1rem $paddingH;
      z-index: 3;
      transition: background $transition;

      display: flex;
      justify-content: flex-end;
    }

    &__containerBg {
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
    }

    &__item {
      font-size: 1.6rem;
      text-decoration: none;
      padding: 0.5rem 1.5rem;
      border-radius: $border-radius;
      border: 2px solid transparent;
      cursor: pointer;

      transition: background $transition, border $transition;

      &:first-of-type {
        font-weight: bold;
        color: $primaryColor;
        background-color: $secondaryColor;
      }

      &:hover {
        background-color: $color-grey-transparent;
      }

      &:active {
        background-color: $secondaryColor;
        border: 2px solid $secondaryDarkColor;
      }
    }
  }
}

// Dark header styles
.theme-dark {
  .header {
    &__container {
      color: white;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      padding: 1rem $paddingH;
      z-index: 3;
      transition: background $transition;

      display: flex;
      justify-content: flex-end;
    }

    &__containerBg {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &__item {
      font-size: 1.6rem;
      text-decoration: none;
      padding: 0.5rem 1.5rem;
      border-radius: $border-radius;
      border: 2px solid transparent;
      cursor: pointer;

      transition: background $transition, border $transition;

      &:first-of-type {
        font-weight: bold;
        color: $primaryColor;
        background-color: #333;
      }

      &:hover {
        background-color: #333;
      }

      &:active {
        background-color: #555;
        border: 2px solid $secondaryDarkColor;
      }
    }
  }
}
