@import "../../cosntants.scss";

.theme-light {
  .footer {
    &__container {
      font-size: 1.6rem;
      background-color: $primaryColor;
      color: #fff;
      padding: 5rem;

      display: flex;
      justify-content: space-between;
    }

    &__list {
      list-style: none;
    }

    &__copyright {
      list-style: none;

      align-self: flex-end;
    }

    &__heading {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #fff;
    }

    &__social {
      width: 20%;
    }

    &__socialList {
      list-style: none;

      display: flex;
    }

    &__socialItem {
      margin-right: 3rem;
    }

    &__icon {
      font-size: 3rem;
      color: $secondaryLightColor;
      text-decoration: none;
    }
  }
}

.theme-dark {
  .footer {
    &__container {
      font-size: 1.6rem;
      background-color: $primaryDarkColor;
      color: #fff;
      padding: 5rem;

      display: flex;
      justify-content: space-between;
    }

    &__list {
      list-style: none;
    }

    &__copyright {
      list-style: none;

      align-self: flex-end;
    }

    &__heading {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #fff;
    }

    &__social {
      width: 20%;
    }

    &__socialList {
      list-style: none;

      display: flex;
    }

    &__socialItem {
      margin-right: 3rem;
    }

    &__icon {
      font-size: 3rem;
      color: $secondaryLightColor;
      text-decoration: none;
    }
  }
}
