@import "../../cosntants.scss";

.theme-light {
  .footer {
    &__container {
      font-size: 1.6rem;
      background-color: $primaryColor;
      color: #fff;
      padding: 5rem;

      display: flex;
      justify-content: space-between;
    }

    &__list {
      list-style: none;
    }

    &__copyright {
      list-style: none;

      align-self: flex-end;
    }

    &__heading {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #fff;
    }

    &__social {
      width: 20%;
    }

    &__socialList {
      list-style: none;

      display: flex;
    }

    &__socialItem {
      margin-right: 3rem;
    }

    &__icon {
      font-size: 3rem;
      color: $secondaryLightColor;
      text-decoration: none;
    }
  }
}

.theme-dark {
  .footer {
    &__container {
      font-size: 1.6rem;
      background-color: $primaryDarkColor;
      color: #fff;
      padding: 5rem;

      display: flex;
      justify-content: space-between;
    }

    &__list {
      list-style: none;
    }

    &__copyright {
      list-style: none;

      align-self: flex-end;
    }

    &__heading {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #fff;
    }

    &__social {
      width: 20%;
    }

    &__socialList {
      list-style: none;

      display: flex;
    }

    &__socialItem {
      margin-right: 3rem;
    }

    &__icon {
      font-size: 3rem;
      color: $secondaryLightColor;
      text-decoration: none;
    }
  }
}

// Media Queries
.footer {
  &__container {
    @media only screen and (max-width: $bp-small) {
      padding: 2rem !important;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 5rem !important;

      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__copyright {
    @media only screen and (max-width: $bp-smallest) {
      width: 100% !important;
      margin-bottom: 3rem;
    }
  }

  &__list {
    @media only screen and (max-width: $bp-smallest) {
      width: 100% !important;
      margin-bottom: 3rem;
    }
  }

  &__link {
    @media only screen and (max-width: $bp-smallest) {
      width: 100% !important;
    }
  }

  &__social {
    @media only screen and (max-width: $bp-smallest) {
      width: 100% !important;
    }
  }
}
